{% load static %}
<!doctype html>
<html lang="ko-kr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>KKamange.site</title>
</head>
<body>
<div class="container">
  <div data-aos="fade" class="divOutside">
    {% for post in qs %}
      {% if post.thumbnail %}
        <a href="#{{ post.id }}"><img src="{{ post.thumbnail.url }}"></a>
      {% endif %}
    {% endfor %}
  </div>
</div>
<div class="menuContainer">
  <div class="divTop">
    <button class="fun-btn">까망아!</button>
  </div>
</div>
<div class="container">
  {% for post in qs %}
    <div id="{{ post.id }}" class="container">
    <div data-aos="flip-up" class="divTop">
      <h1>{{ post.title }} <span> - {{ post.created_at }}</span></h1>
    </div>
    <div data-aos="fade" class="divOutside">
      {% if post.photo %}
        <img src="{{ post.photo.url }}" width="400">
      {% else %}
        no images
      {% endif %}
    </div>
    <div class="divBottom">
      {% if post.content %}
        {{ post.content }}
      {% else %}
        no content
      {% endif %}
    </div>
    </div>
  {% endfor %}
</div>
<script src="{% static './bundle.js' %}"></script>
</body>
</html>